.card-container {
  display: flex;
}

.card {
  margin: 0.5rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 0.625rem;
}

.card:hover {
  box-shadow: 0 0 0.625rem #757171;
  cursor: pointer;
}

.card-image-container > .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-description {
  padding: 10px;
  line-height: 2rem;
}
.card-description > h5 {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-buttons {
  display: flex;
  justify-content: space-between;
}
