.search-container{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}
.search-container input{
    margin-right: 0.75rem;
    padding: 0.25rem;
    width: 24rem;
    height: 2.75rem;
    border: 0.125rem solid #ccc;
    border-radius: 0.5rem;
}
.search-container button{
    padding: 0.25rem;
    padding-right: 0.5rem;
    width: 3rem;
    background-color: #444;
    color: #fff;
    border-radius: 0.5rem;
}